# ==========================
# BUSINESS DATA (DO NOT PUSH)
# ==========================
Output/
Templates/

# ==========================
# LOGS
# ==========================
Logs/

# ==========================
# ENVIRONMENT
# ==========================
.env
venv/

# ==========================
# PYTHON CACHE
# ==========================
__pycache__/
*.pyc
*.pyo