# ==========================
# BUSINESS DATA (DO NOT PUSH)
# ==========================
Output/

# ==========================
# PYTHON CACHE
# ==========================
__pycache__/
*.pyc

# ==========================
# ENVIRONMENT
# ==========================
.env
venv/